@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    border-radius: 10px;
    
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: rgb(242, 241, 241);
    /* margin: 0.8rem; */
    background-color: whitesmoke;
    /* margin-bottom: 5rem; */
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
}


.nav_background{
    background-color: rgb(217, 217, 217);
    padding: 0.2rem;
    margin: 0.2;
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    font-size: 12px;
    font-weight: 600;
}

a{
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in;
}

a:hover{
    color: #45a049;
}

li{
    list-style: none;
}

.nav_btn{
    display: flex;
    justify-content: center;
}

.refresh-btn{
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 12px;
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    font-family: 'Poppins', sans-serif;
}

.refresh-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.name{
    /* border: 1px solid blue; */
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    font-size: 8px;
}


/* Add this style to your CSS */
.hero_form input[type="text"] { /* Adjust the value based on your preference */
    font-size: 20px;
    max-width: 60%;
    text-size-adjust: 100%;
}

.hero_form{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(217, 217, 217);
    /* margin: 1rem; */
    padding: 0.5rem;
}

.hero_form2{
    margin: 1rem 0;
    /* border: 1px solid blue; */
}

.hero_form3{
    margin: 1rem 0;
}

.hero_form3 select option {
    color: black;
    background-color: white; /* Set background color */
    margin: 0.5rem;
}



.timer{
    font-size: 4rem;
    /* align-items: center; */
    /* border: 1px solid blue; */
    color: #f50707;
    /* margin-left: 4.5rem; */
    margin: 1rem;

}

/* Add these styles to your CSS */
input[type="submit"]{
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    font-size: 12px; /* Font size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    margin-top: 2rem;
    margin: 1rem;
    text-size-adjust: 100%;

}

/* Hover effect */
input[type="submit"]:hover {
    background-color: #38843c; /* Darker green on hover */
}

/* Style for the time domain dropdown */
.hero_form3 select {
    width: 100%;
    padding: 0.3rem;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 12px;
    color: black;
    max-width: 60%;
    
    
}

/* Optional: Style for the label associated with the time domain dropdown */



input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #333;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
}

/* Style for checked checkboxes */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: #45a049;
    align-items: center;
}

/* Style for checked checkboxes */
input[type="checkbox"]:checked {
    background-color: #45a049;
    align-items: center;
}

/* Style for the labels associated with checkboxes and radio buttons */
label {
    font-size: 8px; /* Adjust the font size of the labels */
}

/* Style for the workout result */
#workoutResult {
    display: none; /* Initially hide the workout result */
    padding: 5rem;
    font-size: 16px;
    background-color: whitesmoke; /* Set background color to transparent initially */
    border-radius: 30px;
    /* font-weight: 600; */
    border: #4caf50 solid 1rem;
    text-align: center; /* Center the text inside the element */
}


/* Optional: Add styles for the workout result text */
#workoutResult p {
    margin: 0;
    background-color: whitesmoke;
}

d{
    font-size: 14px;
    color: #45a049;
    /* font-weight: 600; */
    text-transform: uppercase;
    font-weight: 600;
}

strong{
    font-size: 14px;
    font-weight: 600;
}
